:root {
  --cream: #f9f6f0;
  --lightgrey: #e3e7e6;
  --grey: #bdc5c8;
  --darkgrey: #89979c;
  --darkergrey: #636d70;
  --darkestgrey: #4b5254;
  --lightblue: #a1bacd;
  --blue: #647b88;
  --darkblue: #214f6a;
  --dark: #002733;
  --red: #cc0000;
  --shadow: rgba(0, 0, 0, 0.2);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--dark);
  /* font: normal 10px Verdana, Arial, sans-serif; */
  height: 100%;   
  overflow: hidden;  /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
  margin: 0px;  /*removes default style*/
  display: flex;  /*enables flex content for its children*/
  box-sizing: border-box;
    background: var(--lightgrey);
}

.app {
  display: -webkit-flex; /* look into webkit... */
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  justify-content: left;
  padding-left: 350px;
  align-items: center;
  margin: 10px;
  height: 50px;
  width: auto;
  font-size: 24px;
  color: var(--darkblue);
  background: white;
  box-shadow: 1px 1px 1px 0px var(--shadow)
}

.sub-header {
  display: flex;
  flex-direction: row;
}

.navbar {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-shrink: 0;
  position: -webkit-sticky;
  position: sticky;
  background: white;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 1px 0px var(--shadow)
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow-y: auto;
  background: white;
  margin-bottom: 10px;
  margin-right: 10px;
  padding-top: 20px;
  box-shadow: 1px 1px 1px 0px var(--shadow)
}

.about {
  display: block;
}

.test-tools {
  display: flex;
  flex-direction: column;
}

.test-buttons {
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: right;
}

.snippet-container {
  display: flex;
  justify-content: center;
}

.snippet-field {
  height: 30px;
  width: 700px;
  overflow: auto;
  padding: 4px;
  border: 1px solid darkgrey;
  margin-bottom: 15px;
  text-align: left;
  /* the following centers text (in child spans) vertically in snippet textarea (div) */
  display: flex;
  align-items: center;
}

input.code {
  height: 30px;
  width: 700px;
  padding: 4px;
  border: 1px solid darkgrey;
  resize: vertical;
}

textarea:focus, input:focus{
  outline: none;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

/* On mouse-over */
.btn:hover {
  background: #eee;
}

.code {
  font-family: Menlo;
  font-size: 20px;
}

.bad {
  color: var(--red);
}

.graph-area {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.graph-title-div {
  align-items: center;
}

.graph {
  min-width: 1000px;
  min-height: 500px;
  align-items: center;
}

button.test-btn {
  align-items: right;
  justify-content: right;
  align-self: right;
}
