:root {
  --cream: #f9f6f0;
  --lightgrey: #e3e7e6;
  --grey: #bdc5c8;
  --darkgrey: #89979c;
  --darkergrey: #636d70;
  --darkestgrey: #4b5254;
  --lightblue: #a1bacd;
  --blue: #647b88;
  --darkblue: #214f6a;
  --dark: #002733;
  --red: #cc0000;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--dark);
  /* font: normal 10px Verdana, Arial, sans-serif; */
}

.app {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  margin-top: 15px;
  height: 100px;
}

.main {
  display: flex;
  flex-direction: row;
  /* height: 100vh; */
  /* overflow-y: auto; */
}

.navbar {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.logo {
  height: 50px;
  width: 50px;
}

.test-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.test-tools {
  display: flex;
  flex-direction: column;
}

.test-buttons {
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.snippet-container {
  display: flex;
  justify-content: center;
}

.snippet-field {
  height: 30px;
  width: 700px;
  overflow: auto;
  padding: 4px;
  border: 1px solid darkgrey;
  margin-bottom: 15px;
  text-align: left;
  /* the following centers text (in child spans) vertically in snippet textarea (div) */
  display: flex;
  align-items: center;
}

input.code {
  height: 30px;
  width: 700px;
  padding: 4px;
  border: 1px solid darkgrey;
  resize: vertical;
}

textarea:focus, input:focus{
  outline: none;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.btn {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
}

/* On mouse-over */
.btn:hover {
  background: #eee;
}

.code {
  font-family: Menlo;
  font-size: 20px;
}

.bad {
  color: var(--red);
}

.graph-area {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* min-width: 1000px; */
}

.graph-title-div {
  align-items: center;
}

.graph {
  min-width: 1000px;
  min-height: 500px;
  align-items: center;
}

/* .test-btn {
  margin-left: auto;
} */
