:root {
  --cream: #f9f6f0;
  --lightgrey: #e3e7e6;
  --midgrey: #dedede;
  --grey: #bdc5c8;
  --darkgrey: #89979c;
  --darkergrey: #636d70;
  --darkestgrey: #4b5254;
  --lightblue: #a1bacd;
  --blue: #647b88;
  --darkblue: #214f6a;
  --dark: #002733;
  --red: #cc0000;
  --shadow: rgba(0, 0, 0, 0.2);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--darkblue);
  height: 100vh;
  width: 100vw;
  overflow: hidden; /*makes the body non-scrollable (we will add scrolling to the sidebar and main content containers)*/
  margin: 0px; /*removes default style*/
  display: flex; /*enables flex content for its children*/
  box-sizing: border-box;
  background: var(--lightgrey);
}

.app {
  display: -webkit-flex; /* look into webkit... */
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding-left: 10px;
  height: 50px;
  background: white;
  box-shadow: 1px 1px 1px 0px var(--shadow);
  font-size: 24px;
  color: var(--darkblue);
  white-space: nowrap;
}

.sub-header {
  display: flex;
  width: 100vw;
  flex-direction: row;
  height: calc(100% - 70px);
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 100px;
  padding-bottom: 100px;
  position: -webkit-sticky;
  position: sticky;
  background: white;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  box-shadow: 1px 1px 1px 0px var(--shadow);
}

.main {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  background: white;
  margin-bottom: 10px;
  margin-right: 10px;
  padding-top: 20px;
  box-shadow: 1px 1px 1px 0px var(--shadow);
}

.info-pg {
  display: flex;
  flex-direction: column;
  padding-left: 100px;
  padding-right: 100px;
  font-size: 20px;
}

.info-pg h1 {
  text-align: center;
}

.info-pg ul li {
  padding: 5px;
}

.info-pg a,
.info-pg a:visited {
  color: var(--darkblue);
  font-weight: bold;
}

.info-pg p {
  margin: 0px;
}

.info-block {
  max-width: 800px;
  display: flex;
  flex-direction: column;
}

.search-container {
  display: flex;
  align-items: left; /* figure out if I can keep this aligned with text on wide screens  */
  width: 100%;
  max-width: 800px;
}

.search {
  height: 30px;
  min-width: 50%;
  padding: 4px;
  border: 1px solid var(--darkgrey);
  font-size: 20px;
  color: var(--darkblue);
}

.help-article {
  padding-top: 20px;
}

.test-tools {
  display: flex;
  flex-direction: column;
}

.test-buttons {
  display: flex;
  flex-direction: row-reverse;
}

.btn,
.close {
  margin-bottom: 10px;
  margin-left: 8px;
  margin-top: 1px;
  padding: 3px;
  border: 1px solid var(--darkgrey);
  border-radius: 5px;
  color: var(--darkblue) !important  ;
  font-weight: 700;
  font-size: 12px;
  width: 120px;
  white-space: nowrap;
}

.btn:hover,
.close:hover {
  background-color: var(--lightblue);
  margin-bottom: 11px;
  margin-top: 0px;
  box-shadow: 1px 1px 1px 0px var(--shadow);
}

.btn:focus,
.close:focus {
  outline: none;
}

.close {
  width: 30px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-top: 1px;
}

.close:hover {
  margin-top: 0px;
  margin-bottom: 1px;
}

.modal-banner {
  text-align: center;
  font-size: 24px;
}

.modalnav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: space-between;
  padding: 20px;
  margin: 20px;
}

.modalnav {
  text-decoration: none;
  text-align: center;
  margin-left: 15px;
  margin-right: 15px;
}

.annotation {
  justify-content: center;
  margin-top: 5px;
  margin-bottom: 15px;
  margin-left: 80px;
  margin-right: 80px;
  white-space: pre-wrap; /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap; /* Opera <7 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* IE */
  font-size: 18px;
  overflow-y: auto;
}

.annotation-preface {
  margin-bottom: 18px;
  font-size: 22px;
}

.snippet-container {
  display: flex;
  justify-content: center;
}

.snippet-field {
  height: 30px;
  width: 700px;
  overflow: auto;
  padding: 4px;
  border: 1px solid var(--darkgrey);
  margin-bottom: 15px;
  text-align: left;
  /* the following centers text (in child spans) vertically in snippet textarea (div) */
  display: flex;
  align-items: center;
}

input.code {
  height: 30px;
  width: 700px;
  padding: 4px;
  border: 1px solid var(--darkgrey);
  resize: vertical;
}

textarea:focus,
input:focus {
  outline: none;
}

.title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 3px;
}

.navlink {
  align-self: flex-end;
  margin: 4px;
  margin-left: 8px;
  margin-right: 8px;
  font-size: 24px;
  padding: 14px;
  color: var(--darkblue);
  text-decoration: none;
}

a.navlink:hover {
  background: var(--grey);
}

.navlink.active {
  padding-bottom: 11px;
  border-bottom-style: solid;
}

.code {
  font-family: Menlo;
  font-size: 20px;
  color: var(--darkblue);
}

.bad {
  color: var(--red);
}

.graph-area {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.graph-title-div {
  align-items: center;
}

.graph {
  min-width: 1000px; /* flex-basis? */
  min-height: 500px;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px
}

.form-inputs-container div {
  margin: 10px;
}

.form-labels-container input {
  padding: 30px;
}

.form-label {
  margin-bottom: 24px;
  margin-right: 20px;
  padding: 3px;
}

.form-input {
  margin-bottom: 20px;
  padding: 3px;
  padding: 4px;
  border: 1px solid var(--darkgrey);
  font-size: 20px;
  color: var(--darkblue);
}